In [1]:
# Import the libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import warnings
warnings.filterwarnings("ignore")

ModuleNotFoundError: No module named 'mlxtend'

In [5]:
# Read the dataset
df = pd.read_excel('Online Retail.xlsx')

In [11]:
df.shape

(541909, 8)

In [13]:
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
536043,581217,90201C,RED ENAMEL FLOWER RING,1,2011-12-08 09:20:00,2.90,NaN,United Kingdom
35341,539436,21983,PACK OF 12 BLUE PAISLEY TISSUES,1,2010-12-17 14:49:00,0.85,NaN,United Kingdom
3635,536638,22131,FOOD CONTAINER SET 3 LOVE HEART,6,2010-12-02 11:41:00,1.95,16244.0,United Kingdom
198999,554080,85183A,CHARLIE & LOLA WASTEPAPER BIN BLUE,3,2011-05-22 11:42:00,1.25,16931.0,United Kingdom
286473,562031,21875,KINGS CHOICE MUG,2,2011-08-01 17:37:00,1.25,16984.0,United Kingdom

# Market Basket

In [16]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [20]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [22]:
# Dropping records where Description is not available
df.dropna(axis=0, subset=['Description'], inplace=True)

In [23]:
# Check for the presence of missing values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133626
Country             0
dtype: int64

In [44]:
# Import re library for regular expressions
import re
# Remove extra white spaces in 'Description' column
df['Description'] = df['Description'].astype(str).apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [38]:
# Let's sample some transactions that have been cancelled
df[df['InvoiceNo'].astype(str).str.contains('C')].sample(10)

ValueError: a must be greater than 0 unless no samples are taken

In [42]:
# Variable definition suggests InvoiceNo value containing 'C' represents cancellations
df['InvoiceNo'] = df['InvoiceNo'].astype(str)
df = df[~df['InvoiceNo'].str.contains('C')]
print(df.shape)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_16300\4234743239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['InvoiceNo'] = df['InvoiceNo'].astype(str)

(531167, 8)